.container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    width: fit-content;
    background-color: black;
    color: bisque;
    display: inline-block;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.p {
    margin: 5px;
}